#article-content .content-section {
    background-color: rgb(235, 242, 242);
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgb(217, 213, 213);
    box-shadow: 5px 3px 10px rgb(185, 181, 181);
    margin-bottom: 20px;
}

#article-content:first-child {
    margin-top: 20px;
}

#article-content .content-section .img-resize {
    width: 100%;
    height: 125px;
}

#article-content .content-section .author-name {
    margin-top: 20px;
    font-size: 25px;
    padding-left: 20px;
}

.display-grid {
    display: grid;
    grid-template-columns: 12% 77% 10%;
}

.inner-display-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

#article-content .content-section .edit-icon {
    margin-top: 20px;
    grid-column: 1;
}