{% extends 'master.html' %}

{% block content %}
<main>
    <article id="article-content">
        <div class="container content-section">
          <div class="display-grid">
            <img src="{{ item.author.profile.image.url }}" class="img-thumbnail me-4 rounded-circle img-resize" alt="...">
            <div class="author-name">{{ item.author }}</div>
            {% if user.id == item.author.id %}
              <a href="{% url 'blog.update' item.id %}" class="display-grid">
                <i class="fa-solid fa-pen edit-icon"></i>
              </a>
            {% endif %}
          </div>
          <h3 class="title">{{ item.title }}</h3>
          <p class="content">{{ item.body }}</p>
        </div>
    </article>
    <div>
      <form id="commentForm" method="post">
        {% csrf_token %}
        <label for="comment">Comment</label>
        <textarea name="comment" id="id_comment" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
</main>
{% endblock %}
{% block script %}
  <script>
    const form = document.getElementById('commentForm');
  </script>
{% endblock %}