{% extends 'master.html' %}

{% block content %}
<main>
    <article id="article-content">
        <div class="container content-section">
          <div class="display-grid">
            <img src="{{ item.author.profile.image.url }}" class="img-thumbnail me-4 rounded-circle img-resize" alt="...">
            <div class="author-name">{{ item.author }}</div>
            {% if user.id == item.author.id %}
              <a href="{% url 'blog.update' item.id %}" class="display-grid">
                <i class="fa-solid fa-pen edit-icon"></i>
              </a>
            {% endif %}
          </div>
          <h3 class="title">{{ item.title }}</h3>
          <p class="content">{{ item.body }}</p>
        </div>
    </article>
    <div>
      <form id="commentForm" method="post">
        {% csrf_token %}
        <label for="comment">Comment</label>
        <textarea name="comment" id="id_comment" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
</main>
{% endblock %}

{% block script %}
  {% if user.is_authenticated %}
  <script type="text/javascript">

    const form = document.getElementById('commentForm');
    const comment = document.getElementById('id_comment');
    const csrf = document.getElementById('csrfmiddlewaretoken');

    const user_id = parseInt("{{user.id}}");
    const post_id = parseInt("{{item.id}}");

    function handleSubmit(event) {
      //prevent from submit form
      event.preventDefault();
      event.stopPropagation();

      const url = "{% url 'comment.new' %}"

      const formData = new FormData();
      formData.append('csrfmiddlewaretoken', csrf[0].value);
      formData.append('comment', comment.value);
      formData.append('author', user_id);
      formData.append('post', post_id);

      // Send form Data
      sendData(url, formData);
    }

    function sendData(url, formData) {
      fetch(url, {
        method: 'POST',
        mode: "same-origin",
        credentials: "same-origin",
        headers: {
          'Content-Type': "application/json",
        },
        body: formData,
      })
      .then( data => console.log(data))
      .catch(err => console.error(err))
    }

  </script>
  {% endif %}
{% endblock %}