{% extends 'master.html' %}

{% block content %}

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
  {% endif %}

  <main>
    <article id="article-content">
      {% for item in items %}
        <div class="container content-section">
          <div class="display-grid">
            <img src="{{ item.author.profile.image.url }}" class="img-thumbnail me-4 rounded-circle img-resize" alt="...">
            <div class="author-name"> <a href="{% url 'account.profile' item.author.id %}">{{ item.author }}</a></div>
            {% if user.id == item.author.id %}
              <div class="inner-display-grid">
                <a href="{% url 'blog.update' item.id %}" class="edit-icon">
                  <i class="fa-solid fa-pen"></i>
                </a>
                <button class="deleteButton" style="margin-top: 20px; grid-column: 2; border: none; padding: 0; background: none; height: 20%; color: red;"
                  data-bs-toggle="modal" data-bs-target="#exampleModal{{item.id}}">
                  <i class="fa-solid fa-trash"></i>
                </button>
                <form action="{% url 'blog.delete' item.id %}" method="post">
                  {% csrf_token %}
                  <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ item.title }}</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {{item.body}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>                
                </form>
              </div>
            {% endif %}
          </div>
          <h3 class="title">{{ item.title }}</h3>
          <p class="content">{{ item.body }}</p>
          <div class="d-flex justify-content-end">
            <a href="{% url 'blog.detail' item.id %}" class="btn btn-outline-primary p-1">Click To View Details</a>
          </div>
        </div>
      {% endfor %}
    </article>
    <footer style="justify-content: center; display: flex;">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a href="?page=1" class="page-link">first</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a>
        </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item">
              <a class="page-link" href="?page={{num}}">{{num}}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{num}}">{{num}}</a>
            </li>
          {% endif %}  
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
          </li>
        {% endif %}
      </ul>
    </footer>
  </main>

{% endblock %}