{% extends 'master.html' %}

{% block style %}
    <style>
        .bg-login {
            background: rgb(101, 216, 228);
            border-radius: 1em;
        }

        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        button {
            --hover-shadows: 2px 2px 5px #575757,
                            -2px -2px 5px #313030;
            --accent: rgb(252, 252, 252);
            --glow: gold;
            font-weight: bold;
            letter-spacing: 0.1em;
            border: none;
            border-radius: 1.1em;
            background-color: #403f3f;
            color: white;
            padding: 0.5em 1em;
            transition: box-shadow ease-in-out 0.3s,
                        background-color ease-in-out 0.1s,
                        letter-spacing ease-in-out 0.1s,
                        transform ease-in-out 0.1s;
            box-shadow: 5px 5px 10px #4f4f4f,
                        -5px -5px 10px #949494;
        }

        button:hover {
            box-shadow: var(--hover-shadows);
        }

        button:active {
            box-shadow: var(--hover-shadows),
                        var(--glow) 0px 0px 30px 5px;
            background-color: var(--accent);
            transform: scale(0.95);
            color: rgb(46, 45, 45);
        }
    </style>
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>      
    {% endfor %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-6 center bg-login">
            <form action="" method="post" class="mt-5">
                {% csrf_token %}
                <div class="row justify-content-center text-center mb-2">
                    <label for="firstname" class="mb-1">First Name</label>
                    {{ form.firstname }}
                </div>
                <div class="row justify-content-center text-center mb-2">
                    <label for="firstname" class="mb-1">Last Name</label>
                    {{ form.lastname }}
                </div>
                <div class="row justify-content-center text-center mb-2">
                    <label for="usenrame" class="mb-1">User Name</label>
                    {{ form.username }}
                </div>
                <div class="row justify-content-center text-center mb-2">
                    <label for="email" class="mb-1">Email</label>
                    {{ form.email }}
                </div>
                <div class="row justify-content-center text-center mb-2">
                    <label for="passwordOne" class="mb-1">Password</label>
                    {{ form.passwordOne }}
                </div>
                <div class="row justify-content-center text-center mb-5">
                    <label for="passwordTwo" class="mb-1">Confirm Password</label>
                    {{ form.passwordTwo }}
                </div>
                <div class="row justify-content-center mb-5">
                    <button type="submit" class="btn-center w-50">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}